<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        <script type="text/javascript">
            var map;
            var marker;
            function initialize() {
                var mapOptions = {
                    center: new google.maps.LatLng(-26.107567, 28.056702),
                    zoom: 15
                    };
                map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
                google.maps.event.addListener(map, 'click', function(event){
                    placeMarker(event.latLng);
                });
            }

            function placeMarker(location){
                if (marker) {
                    marker.setPosition(location);
                } else {
                    marker = new google.maps.Marker({
                        position: location,
                        map: map
                    });
                }
                document.getElementById('latitude').value = location.lat();
                document.getElementById('longitude').value = location.lng();
            }
        </script>
        <title>Crime Map</title>
    </head>
    <body onload="initialize()">
        <h1>CrimeMap</h1>
        <p>A map of recent criminal activity in the Sandton area.</p>
        <div id="map-canvas"></div>
        <div id="newcrimeform">
            <h2>Submit new crime</h2>
            <form action="/submitcrime" method="POST">
                <label for="category">Category</label>
                <select id="category" name="category">
                    <option value="mugging">Mugging</option>
                    <option value="breakin">Break-in</option>
                </select>
                <label for="date">Date</label>
                <input id="date" type="date" name="date">
                <label for="latitude">Latitude</label>
                <input id="latitude" type="text" name="latitude">
                <label for="longitude">Longitude</label>
                <input id="longitude" type="text" name="longitude">
                <label for="description">Description</label>
                <textarea id="description" name="description" placeholder="A bref but detailed description of the crime" rows="8" cols="80"></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
